body {
  margin: 0;
  background-color: #0a0a0a;
}

h1, h2, p, a {
  color: white;
}

/* Nav Bar Styles */
.nav-bar {
  position: sticky;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: #0a0a0a;
}

.nav-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo {
  width: 50px;
}

.nav-label {
  font-weight: bold;
}

.nav-items {
  display: flex;
  gap: 100px;
}

.nav-item {
  text-decoration: none;
  transition: transform 0.2s ease;
}

.nav-item:hover {
  color: #159947;
  transform: scale(1.1);
}

.mobile-nav-bar {
  display: none;
}

/* Section 1 Styles */
#sectionOne {
  font-family: 'Montserrat', sans-serif;
  padding: 180px 80px 0px 80px;
  background-image: url('/wave.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.welcome {
  font-size: 15rem;
  margin: 0;
}

.welcome-text {
  font-size: 2.5rem;
  margin: 0;
  padding-left: 30px;
}

.arrow-down {
  width: 45px;
  padding-top: 220px;
  display: block;
  margin: 0 auto;
  animation-name: point-down;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Section 2 */
#sectionTwo {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-title-container {
  display: flex;
  justify-content: center;
}

.section-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  width: fit-content;
  border-bottom: 5px solid #159947;
  margin-bottom: 3rem;
}

.skills-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 550px));
  row-gap: 7rem;
  place-items: center;
}

.card {
  width: 500px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
}

.card-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.skill-image {
  width: 100px;
}

.skill-list {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.note {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: rgb(66, 66, 66);
  text-align: center;
  margin-top: 3rem;
}

.code-link {
  color: #0d632e
}

/* Section 3 */
#sectionThree {
  margin-bottom: 5rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0rem 5rem;
  gap: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #232323;
  border-radius: 1rem;
  width: 350px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.project:hover {
  box-shadow: 0px 0px 10px 0px #21aa56;
  transform: scale(1.02);
}

.project-image {
  width: 350px;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-top: 0.5rem;
}

.project-desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
  height: 220px;
}

.project-link {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  color:#159947;
}

.coming-soon {
  width: 350px;
  font-family: 'Montserrat', sans-serif;
  color:#159947;
}

/* Section 4 */
#sectionFour {
  margin-bottom: 5rem;
}

.about-me-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 15rem;
}

.about-image {
  width: 450px;
  border-radius: 50%;
}

.about-links {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

.about-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.link-image {
  width: 25px;;
}

.about-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}

.about-text strong {
  color: #159947;
}

/* Section 5 */
#sectionFive {
  margin-bottom: 5rem;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #232323;
  border-radius: 1rem;
}

.form-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 1.5rem;
}

.form-title {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

.form-desc {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.form-item label {
 color: #21aa56;
 margin-bottom: 0.5rem;
}

.form-item input, .form-item textarea {
  font-family: 'Montserrat', sans-serif;
  padding: 0.3rem 0.5rem;
  font-size: 16px;
  line-height: 26px;
  border-radius: 0.5rem;
  border: none;
  background-color: #0a0a0a;
  color: white;
}

.form-item input:focus, .form-item textarea:focus {
  outline: 1px solid #21aa56;
  box-shadow: 0px 0px 7px 0px #21aa56;
}

.form-item textarea{
  height: 150px;
  resize: vertical;
}

.form-button {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  background-color: #21aa56;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0d632e;
}

/* Key frames */
@keyframes point-down {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(8%);
  }
}

/* Animation */
.section-to-animate {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.section-to-animate.fade-in {
    opacity: 1;
    transform: translateY(0);
}

#sectionOne {
    opacity: 1; 
    transform: translateY(0);
}